*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:#fff;
}

header{
position:fixed;
top:0;
width:100%;
z-index:1000;
background:rgba(0,0,0,.5);
backdrop-filter:blur(10px);
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
}

.logo{
font-size:28px;
font-weight:700;
color:#38bdf8;
}

nav ul{
display:flex;
list-style:none;
gap:30px;
}

nav ul li a{
color:white;
text-decoration:none;
font-weight:600;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;

background:
linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
url("banner.jpg.png");

background-size:cover;
background-position:center;
background-repeat:no-repeat;
}

.hero-content{
max-width:800px;
}

.hero h1{
font-size:70px;
margin-bottom:15px;
}

.hero h2{
font-size:32px;
color:#38bdf8;
margin-bottom:20px;
}

.hero p{
font-size:18px;
line-height:1.8;
}

.btn{
display:inline-block;
margin-top:30px;
padding:15px 35px;
background:#38bdf8;
border-radius:50px;
text-decoration:none;
color:#fff;
font-weight:600;
}

.about,
.services,
.contact{
padding:100px 8%;
text-align:center;
}

.about h2,
.services h2,
.contact h2{
font-size:40px;
margin-bottom:25px;
color:#38bdf8;
}

.service-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
margin-top:40px;
}

.card{
padding:30px;
border-radius:20px;
background:rgba(255,255,255,.05);
backdrop-filter:blur(10px);
border:1px solid rgba(255,255,255,.1);
transition:.4s;
}

.card:hover{
transform:translateY(-10px);
}

.stats{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:80px 8%;
text-align:center;
}

.stat{
background:rgba(255,255,255,.05);
padding:30px;
border-radius:20px;
}

.stat h2{
font-size:45px;
color:#38bdf8;
}

form{
max-width:600px;
margin:auto;
}

input,
textarea{
width:100%;
padding:15px;
margin-bottom:15px;
border:none;
border-radius:10px;
}

button{
padding:15px 35px;
background:#38bdf8;
border:none;
border-radius:50px;
color:#fff;
cursor:pointer;
}

footer{
padding:40px;
background:#020617;
text-align:center;
}

.social{
margin:15px 0;
}

.social a{
color:#38bdf8;
text-decoration:none;
margin:0 10px;
}

.whatsapp-btn{
position:fixed;
bottom:20px;
right:20px;
width:65px;
height:65px;
background:#25D366;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:30px;
color:white;
text-decoration:none;
}

@media(max-width:768px){

.hero h1{
font-size:42px;
}

.hero h2{
font-size:22px;
}

nav{
flex-direction:column;
gap:10px;
}

nav ul{
gap:15px;
}
}
